html, body {
    @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@900&display=swap');
    font-family: 'Source Sans Pro', sans-serif;
    background-color: black;
    color: white;
    height: 100vh;
    width: 100vw;
}

#app {
    height: 100%;
    width: 100%;
}

.title {
    font-size: 5em;
    display: block;
    margin: auto;
    width: 20%;
}

.title__sk8, .title__dice {
    margin: 0;
    line-height: 0.75;
}
